body {
  background-color: rgb(250, 235, 215);
  color: black;
  margin: 1rem 1rem;
}

img {
  border-radius: 8px;
  width: 350px;
  height: auto;
}

// NavigationBar {
//   background-color: blue;
// }
